.img-dux {
   width: 10%;
}

.navbar{
   box-shadow: 2px 2px 5px #000;  /*borde inferior sombreado*/ 
   opacity: 0.9;
}

/*color de texto del navbar*/
.navbar .nav-item .nav-link{
   color: #fff;
}

.main-header{
   background: url(../../img/asivov-2.jpg);
   background-size: cover;
   min-height: 700px;
   position: relative;
}

.background-overlay{
   background:rgba(241,196,15 ,0.3);
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
}

.form-control, .btn{
   border-radius: 0;
}

.team{
   background:rgba(241,196,15 ,0.6);
}